.vfrc-chat--session-time { 
    display: none; 
}

.vfrc-timestamp {
    display: none;
}

/* Cacher le texte d'origine des boutons */
.vfrc-button.c-jjMjMV,
.vfrc-button.c-jZEVgh {
  font-size: 0 !important; /* Réduit la taille du texte à 0 pour le cacher */
  color: transparent !important; /* Rend le texte transparent */
}

/* Ajouter le texte en français avec le pseudo-élément ::after */
.vfrc-button.c-jjMjMV::after,
.vfrc-button.c-jZEVgh::after {
  content: 'Votre texte ici'; /* Remplacez 'Votre texte ici' par le texte que vous souhaitez afficher */
  font-size: medium; /* ou la taille de police que vous voulez */
  color: black; /* ou la couleur de votre choix */
  display: block;
}

/* Exemple pour 'Terminer le chat' */
.vfrc-button.c-jjMjMV::after {
  content: 'Terminer le chat';
}

/* Exemple pour 'Annuler' */
.vfrc-button.c-jZEVgh::after {
  content: 'Annuler';
}

  

